version: "3.3"
   
services:
  postgres:
    image: postgres:14.5
    # command: -c ssl=on -c ssl_cert_file=/var/lib/postgresql/server.crt -c ssl_key_file=/var/lib/postgresql/server.key
    container_name: conduit_postgres
    restart: always
    environment:
      POSTGRES_USER: conduit_test_user
      POSTGRES_PASSWORD: conduit!
      POSTGRES_DB: conduit_test_db
      POSTGRES_PORT: 15432
    ports:
      - 0.0.0.0:15432:5432
    volumes:
    - ./ssl/server.crt:/var/lib/postgresql/server.crt:ro
    - ./ssl/server.key:/var/lib/postgresql/server.key:ro
  mysql:
    image: mysql:8.0
    container_name: conduit_mysql
    restart: always
    environment:
      MYSQL_USER: conduit_test_user
      MYSQL_PASSWORD: conduit!
      MYSQL_DATABASE: conduit_test_db
      MYSQL_PORT: 13306
    ports:
      - 0.0.0.0:13306:3306
    volumes:
    - ./ssl/server.crt:/var/lib/postgresql/server.crt:ro
    - ./ssl/server.key:/var/lib/postgresql/server.key:ro
  